[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Chrome App Launcher
Exec=/opt/google/chrome/google-chrome --show-app-list
Icon=chrome-app-list
Categories=Network;WebBrowser;
StartupWMClass=chrome_app_list
X-XFCE-Source=file:///home/mitesh/.local/share/applications/chrome-app-list.desktop
