vim/autoload
vim/plugged
vim/after
vim/.netrwhist
vim/*.bak
vim/undo
/ssh

.DS_Store
emacs.d/elpa
emacs.d/url
emacs.d/init.el~
emacs.d/bookmarks
emacs.d/elpy/
emacs.d/recentf
emacs.d/recentf~
emacs.d/transient/
emacs.d/eshell/
emacs.d/projectile-bookmarks.eld

nvim/.netrwhist
nvim/undo
nvim/init.vim.bak
.cache/

git/gitk
/doom.d/custom.el
/emacs.d/.test.config
/emacs.d/eln-cache/
/emacs.d/history
/emacs.d/tramp
/emacs.d/secrets.el
/emacs.d/elpaca/
/emacs.d/straight/
/emacs.d/devdocs/
/emacs.d/request/
/emacs.d/tree-sitter/
/emacs.d/projects
