snippet "meta" "Markdown metadata front matter" b
---
title: "$1"
date: `!p from datetime import datetime
if not snip.c:
    snip.rv=datetime.now().strftime("%Y-%m-%d %H:%M:%S%z")`
tags: [$2]
categories: [$3]
---
endsnippet
