"*":
  "atom-beautify":
    general:
      _analyticsUserId: "2eee9718-e81e-4997-bbb7-13be44aeb082"
  "autocomplete-python":
    extraPaths: "/Users/ox/.venv/$PROJECT_NAME/lib/python3.5/site-packages"
    pythonPaths: "/Users/ox/.venv/$PROJECT_NAME/bin/python;$PROJECT/venv/bin/python3;/usr/bin/python"
  core:
    customFileTypes:
      "source.js.jsx": [
        "jsx"
        "jsx.js"
      ]
    disabledPackages: [
      "atom-terminal-panel"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "__pycache__"
      ".idea"
    ]
    projectHome: "/home/ox/Dropbox/Projects"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontSize: 19
    scrollPastEnd: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "3c960ecf-079d-3789-54f6-d4fb3d391f16"
  "python-yapf":
    formatOnSave: true
    yapfPath: "/home/ox/.local/bin/yapf"
    yapfStyle: "{COLUMN_LIMIT: 120}"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
